@page "/"
@inherits IndexBase

<EditForm Model="@Input">
    <div class="form-group">
        <h2>Sentiment Analysis</h2>
        <InputText id="sentiment"
                   class="form-control"
                   placeholder="How do you feel?"
                   @bind-Value="@Input.SentimentText"></InputText>
    </div>
    <div class="form-group">
        <button class="btn btn-primary"
                @onclick="MakePrediction">
            Lets find out
        </button>
    </div>
</EditForm>

<h3>@Sentiment</h3>
